<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template rendered by install-cos-jobs.sh. It is copied but never loaded. -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.brainiac.cos-remind</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/osascript</string>
    <string>-e</string>
    <string>display notification "Sign in to Outlook tonight so Brainiac can work the 02:00 COS backlog." with title "Brainiac night porter"</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>21</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/cos-remind-launchd.out</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/cos-remind-launchd.err</string>
</dict>
</plist>
